body{
  background-image: url("https://e0.pxfuel.com/wallpapers/661/879/desktop-wallpaper-high-def-collection-43-full-pleasant-in-high-resolution-bbn-thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
